# See http://help.github.com/ignore-files/ for more about ignoring files.
node_modules/

# Compiled output
/front-angular-notificacion/dist
/front-angular-notificacion/tmp
/front-angular-notificacion/.build

/lambda-function/dist
/lambda-function/tmp
/lambda-function/.build

# Node
/front-angular-notificacion/node_modules
/lambda-function/node_modules
/lambda-function/.serverless


/front-angular-notificacion/npm-debug.log
/front-angular-notificacion/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/front-angular-notificacion/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/front-angular-notificacion/.angular/*
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
